{% set node = node[ansible_hostname] %}
{% set intvars = node.interfaces.common[item] %}
{% if item | match("^lo*") %}
DEVICE=lo
NAME=loopback
{% else %}
DEVICE={{item}}
NAME={{item}}
TYPE=Ethernet
{% endif %}
{% if intvars.dhcp is defined %}
BOOTPROTO=dhcp
{%  else %}
BOOTPROTO=static
{%  if intvars.ipv4_addresses is defined %}
IPADDR={{intvars.ipv4_addresses[0] | ipaddr('address')}}
NETMASK={{intvars.ipv4_addresses[0] | ipaddr('netmask')}}
{%  endif %}
{% endif %}
ONBOOT=yes
