{% set node = node[ansible_hostname] %}
{% set intvars = ifaces_all[item] %}
{% set vrfs = node.vrfs %}

{% if item == "lo" %}
# redefine FIB search rules
ip rule add pref 32765 table local
ip rule del pref 0
# create VRFs
{%   if vrfs is defined %}
{%     for vrf in vrfs %}
## {{vrf.name}}
ip link add {{vrf.name}} type vrf table {{vrf.table}}
ip addr flush dev {{vrf.name}}
{% if vrf.ipv4_addresses is defined %}
{% for ip in vrf.ipv4_addresses %}
ip addr add {{ip}} dev {{vrf.name}}
{% endfor %}
{% endif %}
ip link set dev {{vrf.name}} up
ip route add unreachable default vrf {{vrf.name}}
{%     endfor %}
{%   endif %}
{% else %}
{%   if intvars.vrf is defined %}
# bind to VRF '{{intvars.vrf}}'
ip link set dev {{item}} nomaster
ip link set dev {{item}} master {{intvars.vrf}}
{%     if intvars.ipv4_routes is defined %}
# add static routes into VRF '{{intvars.vrf}}'
sleep 3
{%       for route in intvars.ipv4_routes %}
ip route del unreachable default vrf {{intvars.vrf}}
ip route add {{ route }} vrf {{intvars.vrf}}
{%       endfor %}
{%     endif %}
{%   endif %}
{% endif %}
